/* Rigtig placering af footer*/ 

@media screen and (min-width: 600px){
    #wrapper-portfolio{
        padding-bottom: 1200px;
    }}

@media screen and (min-width: 1000px){
    #wrapper-portfolio{
        padding-bottom: 1300px;
    }}



/* Section1 - PORTFOLIO TEKST styling*/    
.titel{
    margin-top: 50px;
}

.brødtekst{
    margin-top: -20px;
}

/* Section1 - PORTRÆT styling*/  
.portfolio-portræt{
    position: relative;
}

#portræt{
    width:70%;
    max-width: 300px;
    margin-bottom: 100px;
}

#portræt-billede{
    width: 30%;
    max-width: 120px;
    position: absolute;
    top: 50%;
    left:10%
}

/* Section1 - PORTRÆT ved større end en mobil*/
@media screen and (min-width: 600px){
.tekst-portfolio{
    max-width: 300px;
    position: relative;
    left: 10%;
    }

.portfolio-portræt{
    position: absolute;
    left: 50%;
    top: 125px;
    }
}

/* Section1 - PORTRÆT ved web*/
@media screen and (min-width: 1000px){
    .tekst-portfolio{
        left: 20%;
        }
    
    .portfolio-portræt{
        right: 20%;
        }
}


/* Section2 - PRODUKTBILLEDER styling*/  
.portfolio-produktbilleder{
    position: relative;
}

#grøn-box-portfolio{
    width:70%;
    max-width: 300px;
    margin: 40px 0px;
}

#produktbillede1{
    width: 50%;
    max-width: 200px;
    position: absolute;
    top: 0%;
    right:10%;
}

#produktbillede2{
    width: 50%;
    max-width: 200px;
    position: absolute;
    top: 35%;
    left:5%;
}

#produktbillede3{
    width: 50%;
    max-width: 200px;
    position: absolute;
    top: 65%;
    right: 5%;
}

/* Section2 - PRODUKTBILLEDER ved større end en mobil*/
@media screen and (min-width: 600px){
.tekst-portfolio2{
    max-width: 200px;
    position: relative;
    float: right;
    right: 10%;
    top: 200px;
    }

.portfolio-produktbilleder{
    position: absolute;
    right: 40%;
    top: 500px;
    margin: 0px 20px 0px 30px;
    }
    
    #produktbillede1{
        top: 5%;
    }
    #produktbillede2{
        left:-15%;
    }
    
    #produktbillede3{
        top: 55%;
        right: 0%;
    }}

/* Section2 - PRODUKTBILLEDER ved web*/
@media screen and (min-width: 1000px){
    .tekst-portfolio2{
        right: 20%;
        }
    
    .portfolio-produktbilleder{
        left: 20%;
        }}



/* Section3 - PLAKATER styling*/    

#plakat1{
    width: 45%;
    max-width: 200px;
}

#plakat2{
    width: 45%;
    max-width: 200px;
}

/* Section3 - PLAKATER ved større end en mobil*/
@media screen and (min-width: 600px){
.tekst-portfolio3{
    max-width: 230px;
    position: relative;
    left: 10%;
    top: 600px;
    }

.portfolio-plakater{
    position: absolute;
    left: 40%;
    top: 900px;
    }}

/* Section3 - PLAKATER ved web*/
@media screen and (min-width: 1000px){
    .tekst-portfolio3{
        left: 20%;
        }
    
    .portfolio-plakater{
        right: 20%;
        }
}


/* Section4 - LOGO styling*/ 
#logo{
    width: 70%;
    max-width: 400px;
}

/* Section4 - LOGO ved større end en mobil*/
@media screen and (min-width: 600px){
.tekst-portfolio4{
    max-width: 250px;
    position: relative;
    clear: both;
    float: right;
    right: 10%;
    top: 700px;
    }

#logo{
    max-width: 250px;
    position: absolute;
    right: 50%;
    top: 1200px;
}
}

/* Section4 - LOGO ved web*/
@media screen and (min-width: 1000px){
    .tekst-portfolio4{
        right: 20%;
        }
    
    .portfolio-logo{
        left: 20%;
        }}



/* Section5 - ANIMATION styling*/    
.portfolio-animation{
    width: 300px;
    height: 300px;
    margin: 0px auto;
    background: url(images-portfolio/animation.png) 0 0 no-repeat;
    animation: play 1s steps(9) infinite;
}

@keyframes play {
    0%{background-position: 0px;}
    100%{background-position: -2700px;}
}

/* Section5 - ANIMATION ved større end en mobil*/
@media screen and (min-width: 600px){
.tekst-portfolio5{
    max-width: 250px;
    position: relative;
    left: 10%;
    top: 1050px;
    }

.portfolio-animation{
    position: absolute;
    left: 50%;
    top: 1500px;
    }}

/* Section5 - ANIMATION ved web*/
@media screen and (min-width: 1000px){
    .tekst-portfolio5{
        left: 20%;
        }
    
    .portfolio-animation{
        right: 20%;
        }
}



/* Section6 - VIDEO styling*/ 
#video{
    width: 70%;
    max-width: 400px;
    margin-bottom: 75px;
}

/* Section6 - VIDEO ved større end en mobil*/
@media screen and (min-width: 600px){
.tekst-portfolio6{
    max-width: 220px;
    position: relative;
    clear: both;
    float: right;
    right: 10%;
    top: 1150px;
    }

#video{
    width: 300px;
    position: absolute;
    right: 50%;
    top: 1900px;
}
}

/* Section6 - VIDEO ved web*/
@media screen and (min-width: 1000px){
    .tekst-portfolio6{
        max-width: 250px;
        top: 1200px;
        right: 20%;
        }
    
    #video{
        width: 350px;
        left: 20%;
        }}