body{
    text-align: center;
}

/*header styling*/
.logo-navn{
    text-align: center;
    font-family: Marydale; 
    font-size: 30px;
    font-weight: 100;
    color: #6A705C;
    margin: 5px;
}

/*nav styling*/
.menu a{
    background-color: transparent;
    text-align: center;
    font-family: Avenir Next Condensed;
    color: #4b4b4b;
    padding: 4px 20px;
    text-decoration: none;
}

/*hover, active og nav-placering af knapper i nav*/
.menu a:hover
    {color: #a0a38e;}

.menu a:active
    {color: #a0a38e;}

body#forside .forside
    {color: #a0a38e}

body#portfolio .portfolio
    {color: #a0a38e}    

body#om-mig .om-mig
    {color: #a0a38e}  

body#kontakt .kontakt
    {color: #a0a38e}  

/*ved mobil er nav placeret horisontalt*/
@media screen and (max-width: 600px){
    .menu{
        display: grid;
        width: 100%;
    }}

/*forside billede og tilhørende tekst ved mobil*/
.intro-box
    {position: relative;}

#baloo{
    width: 100%;
    max-height: 600px;
    max-width: 900px;
    padding: 20px 0px;
}

.titel{
    text-align: left;
    font-family: Avenir Next Condensed;
    font-size: 25px;
    font-weight: 300;
    line-height: 5px;
}

.titel2{
    text-align: left;
    font-family: Avenir Next Condensed;
    font-size: 15px;
}

.underskrift{
    font-family: Marydale; 
    font-size: 15px;
}

/*forside billede og tilhørende tekst ved større skærm end mobil*/
@media screen and (min-width: 600px){
    .logo
        {font-size: 40px;}

    .intro{
        position: absolute;
        top: 40%;
        left: 10%;
        color: #4b4b4b;
    }

    .titel
        {font-size: 30px;}
    
    .titel2
        {font-size: 20px;}
    
    .underskrift
        {font-size: 20px;}}

/*forside billede og tilhørende tekst ved web*/
@media screen and (min-width: 1100px){
    .intro{
        left: 20%;

    .titel
        {font-size: 35px;}
    
    .titel2
        {font-size: 25px;}
    
    .underskrift
        {font-size: 25px;}}
    }

/*footer styling*/
.footer{
    width: 90%;
    height: 100%;
    padding: 10px;
    margin: 0px auto 0px auto;
    border: 1px #4b4b4b; 
    border-style: solid none none;
}

.logo{
    width: 80px;
}

.sociale-medier img{
    width: 30px;
    padding: 10px 0px 20px;
}

/*section1 - PORTFOLIO styling*/
.overskrift{
    text-align: left;
    font-family: Avenir Next Condensed;
    font-size: 20px;
    font-weight: 300;
}

.portfolio-tekst{
    width: 100px;
    padding: 15px 5px;
    font-family: Avenir Next Condensed;
    text-align: center;
    font-size: 18px;
}

.portfolio-forside{
    width: 90%;
}

/*section1 - PORTFOLIO styling fortsat individuel farve på boxene*/
#portræt-box{
    background-color: #7e8265;
    color: #e5e5e5;
}

#produktbilleder-box{
    background-color: #6a705c;
    color: #e5e5e5;
}

#plakater-box{
    background-color: #a0a38e;
    color: #4b4b4b;
}

#logo-box{
    background-color: #6a705c;
    color: #e5e5e5;
}

#animation-box{
    background-color: #a0a38e;
    color: #4b4b4b;
}

#video-box{
    background-color: #7e8265;
    color: #e5e5e5;
}


