/* Section1 - OM MIG styling*/
.mig-om-mig{
    width: 90%;
}

#om-mig-overskrift{
    text-align: left;
}

/* section1 - OM MIG ved større end en mobil*/
@media screen and (min-width: 600px){
.række-om-mig-afsnit {
    display: flex;
    margin: 0px 5%;
    }
      
.kolonne-om-mig-afsnit {
        flex: 50%;
}

.mig-om-mig{
   padding-top: 50px;
   max-width: 300px;
}

.om-mig-afsnit{
    max-width: 400px;
}}

/* section1 - OM MIG ved web*/
@media screen and (min-width: 1000px){
.række-om-mig-afsnit {
    margin: 0px 15%;
    }

.om-mig-afsnit{
    max-width: 500px;
}

.mig-om-mig{
    width: 300px;
}}


/* section2 - MINE KOMPETANCER styling*/

.mine-kompetancer img{
    width: 60px;
    height: 60px;
    padding: 0px 20px;
    margin-bottom: 30px;
}

.mine-kompetancer{
    display: flex;
    font-family: Avenir Next Condensed;
    font-size: 20px;
    color: #4b4b4b;
}

.brødtekst{
    font-family: Avenir Next Condensed;
    font-size: 16px;
    text-align: left;
    color: #4b4b4b;
    padding: 0px 20px 20px;
}

/* section2 - OM MIG ved større end en mobil + web*/
@media screen and (min-width: 600px){
    .række-om-mig {
        display: flex;
    }
      
    .kolonne-om-mig {
        flex: 33.33%;
    }

    .række-mine-kompetancer{
        margin: 0px 5%;
    }
}

/* section2 - OM MIG ved større end en mobil + web*/
@media screen and (min-width: 1000px){
    .række-om-mig {
        display: flex;
    }
      
    .kolonne-om-mig {
        flex: 33.33%;
    }

    .række-mine-kompetancer{
        margin: 0px 15%;
    }
}


