body{
    text-align: center;
}

/*header styling*/
.logo-navn{
    text-align: center;
    font-family: Marydale; 
    font-size: 30px;
    font-weight: 100;
    color: #6A705C;
    margin: 5px;
}

/*nav styling*/
.menu a{
    background-color: transparent;
    text-align: center;
    font-family: Avenir Next Condensed;
    color: #4b4b4b;
    padding: 4px 20px;
    text-decoration: none;
}

/*farver på hover, active og hvilken side man befinder sig på af knapper i nav*/
.menu a:hover
    {color: #a0a38e;}

.menu a:active
    {color: #7e8265;}

body#forside .forside-nav
    {color: #a0a38e}

body#portfolio .portfolio-nav
    {color: #a0a38e}    

body#om-mig .om-mig-nav
    {color: #a0a38e}  

body#kontakt .kontakt-nav
    {color: #a0a38e}  

/*ved mobil er nav placeret horisontalt*/
@media screen and (max-width: 600px){
    .menu{
        display: grid;
        width: 100%;
    }}

/*forside billede og tilhørende tekst ved mobil*/
.intro-box
    {position: relative;}

#baloo{
    width: 90%;
    max-height: 600px;
    max-width: 900px;
    padding: 20px 0px;
}

.titel{
    text-align: left;
    font-family: Avenir Next Condensed;
    font-size: 25px;
    font-weight: 300;
    line-height: 5px;
    padding: 0px 20px;
    color: #4b4b4b;
}

.titel2{
    text-align: left;
    font-family: Avenir Next Condensed;
    font-size: 15px;
    padding: 0px 20px;
}

.underskrift{
    font-family: Marydale; 
    font-size: 15px;
}

/*forside billede og tilhørende tekst ved større skærm end mobil*/
@media screen and (min-width: 600px){
    .logo
        {font-size: 40px;}

    .intro{
        position: absolute;
        top: 40%;
        left: 10%;
        color: #4b4b4b;
    }

    .titel
        {font-size: 30px;}
    
    .titel2
        {font-size: 20px;}
    
    .underskrift
        {font-size: 20px;}}

/*forside billede og tilhørende tekst ved web*/
@media screen and (min-width: 1000px){
    .intro{
        left: 20%;
        

    .titel
        {font-size: 35px;}
    
    .titel2
        {font-size: 25px;}
    
    .underskrift
        {font-size: 25px;}}
    }

/*footer styling*/
.footer{
    width: 90%;
    height: 100%;
    padding: 10px;
    margin: 0px auto 0px auto;
    border: 1px #4b4b4b; 
    border-style: solid none none;
}

.logo{
    width: 80px;
}

.sociale-medier img{
    width: 30px;
    padding: 10px 0px 20px;
}

/*section1 - PORTFOLIO styling*/
.overskrift{
    text-align: left;
    font-family: Avenir Next Condensed;
    font-size: 25px;
    font-weight: 300;
    color: #4b4b4b;
    padding: 10px 20px 0px;
}

.portfolio-tekst{
    width: 100px;
    padding: 15px 5px;
    font-family: Avenir Next Condensed;
    text-align: center;
    font-size: 18px;
}

.portfolio-forside{
    width: 90%;
    max-width: 300px;
    margin-bottom: 30px;
    margin-top: 30px
}

/*section1 - PORTFOLIO styling fortsat individuel farve på boxene*/
#portræt-box{
    background-color: #7e8265;
    color: #e5e5e5;
}

#produktbilleder-box{
    background-color: #6a705c;
    color: #e5e5e5;
}

#plakater-box{
    background-color: #a0a38e;
    color: #4b4b4b;
}

#logo-box{
    background-color: #6a705c;
    color: #e5e5e5;
}

#animation-box{
    background-color: #a0a38e;
    color: #4b4b4b;
}

#video-box{
    background-color: #7e8265;
    color: #e5e5e5;
}

/*section1 - PORTFOLIO styling fortsat individuel placering på boxene*/
.kolonner{
    position: relative;
}

#portræt-box{
    position: absolute;
    top: 80%;
    left: 40%;
}

/* section1 - PORTFOLIO ved større end en mobil */
@media screen and (min-width: 600px){
    .række1 {
        display: flex;
        margin: 0px 10%;
    }

    .række2 {
        display: flex;
        margin: 0px 10%;
    }
      
    .kolonner {
        flex: 33.33%;
    }
    .overskrift{
        text-align: center;
        font-size: 30px;
    }

#portræt-box{
    top: 50%;
    left: 20%;
}
}



/* section1 - PORTFOLIO ved web */
@media screen and (min-width: 1000px){
    .overskrift{
        font-size: 35px;
}}


/* section2 - OM MIG styling*/
.grå-baggrund{
    background-color: #e5e5e5;
    padding: 5px 0px 50px;
    margin: 50px 0px;
}
.om-mig img{
    width: 60px;
    height: 60px;
    padding: 0px 20px;
    margin-bottom: 30px;
}

.om-mig{
    display: flex;
    font-family: Avenir Next Condensed;
    font-size: 20px;
    color: #4b4b4b;
}

.brødtekst{
    font-family: Avenir Next Condensed;
    font-size: 16px;
    text-align: left;
    color: #4b4b4b;
    padding: 0px 20px 20px;
}

.knap-om-mig{
    background-color:#a0a38e;
    width: 100px;
    text-decoration: none;
    font-family: Avenir Next Condensed;
    color: #4b4b4b;
    padding: 4px 20px;
}

.knap-om-mig:hover
    {color:#e5e5e5;}

.knap-om-mig:active
    {background-color:#7e8265;}


/* section2 - OM MIG ved større end en mobil + web*/
@media screen and (min-width: 600px){
    .række-om-mig {
        display: flex;
    }
      
    .kolonne-om-mig {
        flex: 33.33%;
    }}


/* section3 - KONTAKT styling*/
.underoverskrift{
    font-family: Avenir Next Condensed;
    font-size: 12px;
    text-align: left;
    color: #4b4b4b;
    padding-left: 20px;
}

#overskrift{
    padding-top: 0px;
    margin-top: 0px;
    text-align: left;
}

.kontakt img{
    width: 30px;
    height: 30px;
    padding: 10px 20px;
}

.kontakt{
    display: flex;
    font-family: Avenir Next Condensed;
    font-size: 16px;
    color: #4b4b4b;
}

.forside-kontakt-grøn-box {
    width: 30%;
    height: 300px;
    margin: 0px 0px 150px 0px;
    opacity: 50%;
    position: relative;
    left: 5%;
}

.kontaktinfo{
    float: right;
    margin-right: 5%;
}

.forside-kontakt-billede{
    width: 200px;
    position: absolute;
    margin: 50px;
    right: 10%;
}

.knap-kontakt{
    background-color:#a0a38e;
    width: 120px;
    text-decoration: none;
    font-family: Avenir Next Condensed;
    color: #4b4b4b;
    padding: 4px 20px;
    margin-top: 10px;
    float: right;
}

.knap-kontakt:hover
    {color:#e5e5e5;}

.knap-kontakt:active
    {background-color:#7e8265;}

/* section3 - KONTAKT ved større end en mobil*/
@media screen and (min-width: 600px){
    .underoverskrift{
        font-size: 16px;
        text-align: center;
    }
    
    #overskrift{
        text-align: center;
    }

    .kontaktinfo{
        margin-right: 15%;
    } 
    .forside-kontakt-grøn-box {
        left: 10%;
    }
    .forside-kontakt-billede{
        right: 30%;
    }}

/* section3 - KONTAKT ved web*/
@media screen and (min-width: 1000px){
    .kontaktinfo{
        margin-right: 30%;
    } 
  
    .forside-kontakt-grøn-box {
        max-width: 300px;
    }
    
    .forside-kontakt-billede{
        right: 40%;
    }}


/* Ny side - PORTFOLIO */
/* Section1 - PORTFOLIO styling*/    
.titel{
    margin-top: 50px;
}

.overskrift-portfolio{
    text-align: left;
    font-family: Avenir Next Condensed;
    font-size: 25px;
    font-weight: 300;
    color: #4b4b4b;
    padding: 10px 20px 0px;
}

.brødtekst{
    margin-top: -20px;
}

/* Section1 - PORTRÆT styling*/  
.portfolio-portræt{
    position: relative;
}

#portræt{
    width:70%;
    max-width: 300px;
    margin-bottom: 100px;
}

#portræt-billede{
    width: 30%;
    max-width: 120px;
    position: absolute;
    top: 50%;
    left:10%
}

/* Section1 - PORTRÆT ved større end en mobil*/
@media screen and (min-width: 600px){
.tekst-portfolio{
    max-width: 300px;
    position: relative;
    margin-left: 5%;
    }

.portfolio-portræt{
    position: absolute;
    right: 5%;
    top: 125px;
    }

#portræt-billede{
    top: 50%;
    left:10%
    }
}

/* Section1 - PORTRÆT ved web*/
@media screen and (min-width: 1000px){
    .tekst-portfolio{
        margin-left: 20%;
        }
    
    .portfolio-portræt{
        right: 20%;
        }
}

/* Section1 - PRODUKTBILLEDER styling*/  
.portfolio-produktbilleder{
    position: relative;
}

#grøn-box-portfolio{
    width:70%;
    max-width: 300px;
    margin: 40px 0px;
}

#produktbillede1{
    width: 50%;
    max-width: 200px;
    position: absolute;
    top: 0%;
    right:10%
}

#produktbillede2{
    width: 50%;
    max-width: 200px;
    position: absolute;
    top: 35%;
    left:5%
}

#produktbillede3{
    width: 50%;
    max-width: 200px;
    position: absolute;
    top: 65%;
    right: 5%;
}

/* Section1 - PORTRÆT ved større end en mobil*/
@media screen and (min-width: 600px){
.tekst-portfolio2{
    max-width: 200px;
    position: relative;
    float: right;
    margin-right: 5%;
    margin-top: 250px;
    }

.portfolio-produktbilleder{
    position: absolute;
    left: 5%;
    top: 550px;
    margin: 0px 20px 0px 30px
    }
    
    #produktbillede1{
        top: 5%;
    }
    #produktbillede2{
        left:-15%
    }
    
    #produktbillede3{
        top: 55%;
        right: 0%;
    }}

/* Section1 - PORTRÆT ved web*/
@media screen and (min-width: 1000px){
    .tekst-portfolio2{
        margin-right: 20%;
        }
    
    .portfolio-produktbilleder{
        left: 20%;
        }


