/* Section1 - OM MIG styling*/
.mig-om-mig{
    width: 90%;
    max-width: 350px;
}

#om-mig-overskrift{
    text-align: left;
}

.underskrift{
    text-align: right;
    margin-right: 10%;
    margin-top: -20px;
}


/* section1 - OM MIG ved større end en mobil*/
@media screen and (min-width: 700px){
.række-om-mig-afsnit {
    display: flex;
    margin: 0px 5%;
    }
      
.kolonne-om-mig-afsnit {
        flex: 50%;
}

.mig-om-mig{
   padding-top: 50px;
   max-width: 350px;
}

.om-mig-afsnit{
    max-width: 450px;
}}

/* section1 - OM MIG ved web*/
@media screen and (min-width: 1000px){
.række-om-mig-afsnit {
    margin: 0px 15%;
    }

.om-mig-afsnit{
    max-width: 450px;
}

.mig-om-mig{
    width: 350px;
}}


/* section2 - MINE KOMPETANCER styling*/
.mine-kompetancer img{
    width: 80px;
    height: 80px;
    padding: 0px 20px;
}

.mine-kompetancer{
    display: flex;
    font-family: Avenir Next Condensed;
    font-size: 20px;
    color: #4b4b4b;
}

#overskrift-mine-kompetancer{
    margin-top: 80px;
}

#adobe-programmer img{
    width: 40px;
    float: left;
    padding: 0px 10px;
}

#adobe-programmer{
    margin-left: 10px;
    margin-bottom: 50px;
}

.transparent-box{
    height: 50px;
}

/* section2 - MINE KOMPETANCER ved større end en mobil*/
@media screen and (min-width: 600px){
    .række-mine-kompetancer{
        margin: 0px 10%;
    }

    #overskrift-mine-kompetancer{
        text-align: center;
    }
}

/* section2 - MINE KOMPETANCER ved web*/
@media screen and (min-width: 1000px){
    .række-mine-kompetancer{
        margin: 0px 20%;
    }
}
